node_modules

node_modules/*
!node_modules/bootstrap

node_modules/*
!node_modules/react

node_modules/*
!node_modules/electron

node_modules/*
!node_modules/electron-builder

node_modules/*
!node_modules/electron-is-dev

node_modules/*
!node_modules/electron-publish

node_modules/*
!node_modules/electron-to-chromium
