.App {
  text-align: center;
  align-items: left;
  justify-content: left;
  min-width:600px;
  background-color: #282c34;
  fontSize: 15;




}

.App-header {
  min-width:600px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  fontSize: 15;
}

.App-link {
  color: #09d3ac;
}
